
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Equipment list by customer</h2>
            <hr />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Equipment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

